---
import qs from 'qs';
import { marked } from "marked";
import BaseLayout from '../../layouts/BaseLayout.astro';
import ResourceCTA from '../../components/resources/ResourceCTA.astro';

export async function getStaticPaths() {
  let url = import.meta.env.STRAPI_URL + "/api/jurisdictions";
  const query = qs.stringify({
    sort: ['name:asc'],
    pagination: {
      "start": 0,
      "limit": 100
    }
    });

  const data = await fetch(url + "?" + query).then(response => response.json());
  return data.data.map((jurisdiction) => {
    return {
      params: { slug: jurisdiction.attributes.slug },
      props: { jurisdiction },
    };
  });
}

const { jurisdiction } = Astro.props;
---
<BaseLayout title={jurisdiction.attributes.metaTitle} metaTitle={jurisdiction.attributes.metaTitle} metaDescription={jurisdiction.attributes.metaDescription}>

    <!-- Section 1: Hero -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-32 lg:px-8">
        <div class="text-center mb-16">
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{jurisdiction.attributes.name} Sales Tax Guide For Businesses</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Know everything about sales tax in {jurisdiction.attributes.name} and get updated information to navigate tax regulations effectively.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Automate Sales Tax</a>
            <a href="#tax-rates" class="text-sm font-semibold leading-6 text-gray-900">Explore Tax Rates <span aria-hidden="true">→</span></a>
          </div>
        </div>
    </div>

    <!-- Section 2: Highlights and Calculator  -->
    <div class="mx-auto mt-32 max-w-7xl sm:mt-32 md:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-12 mt-4 lg:gap-16">
            <div class="col-span-8 pb-4">
                <!-- Summary Card -->
                <div class="mt-4">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg px-6 py-12 bg-gradient-to-br from-indigo-100 via-indigo-100 to-indigo-300">
                        <h2 class="text-3xl font-bold text-gray-900">Quick highlights on {jurisdiction.attributes.name} Sales tax</h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <p class="mt-6 text-sm text-gray-600">{jurisdiction.attributes.name} state sales tax range</p>
                                <p class="mt-2 text-xl text-gray-900 font-semibold">{jurisdiction.attributes.totalTaxMin * 100}% - {jurisdiction.attributes.totalTaxMax * 100}%</p>
                            </div>
                            <div>
                                <p class="mt-6 text-sm text-gray-600">Base sales tax rate</p>
                                <p class="mt-2 text-xl text-gray-900 font-semibold">{jurisdiction.attributes.fixedTax * 100}%</p>
                            </div>
                            <div>
                                <p class="mt-6 text-sm text-gray-600">Local Rate Range</p>
                                <p class="mt-2 text-xl text-gray-900 font-semibold">{jurisdiction.attributes.variableTaxMin * 100}% - {jurisdiction.attributes.variableTaxMax * 100}%</p>
                            </div>
                        </div>
                        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <p class="mt-6 text-sm text-gray-600">Economic Nexus Sales Threshold</p>
                                <p class="mt-2 text-xl text-gray-900 font-semibold">{jurisdiction.attributes.nexusThresholdSales}</p>
                            </div>
                            <div>
                                <p class="mt-6 text-sm text-gray-600">Transaction Threshold</p>
                                <p class="mt-2 text-xl text-gray-900 font-semibold">{jurisdiction.attributes.nexusThresholdTransactions?jurisdiction.attributes.nexusThresholdTransactions: "Not Applicable"}</p>
                            </div>
                            <div>
                                <p class="mt-6 text-sm text-gray-600">Website</p>
                                <a class="mt-2 text-xl  text-indigo-500 font-semibold" href={jurisdiction.attributes.filingWebsiteUrl}>{jurisdiction.attributes.filingWebsiteTitle}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-4 pb-4">
                <!-- Calculator -->
                <div class="mt-4">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg px-6 py-12">
                        <h2 class="text-3xl font-bold text-gray-900">{jurisdiction.attributes.name} Sales tax Calculator</h2>
                        <form id="salesTaxCalculator" action="#" method="POST" class="mt-6 space-y-6">
                            <div>
                              <label for="streetAddress" class="sr-only">Street Address</label>
                              <input type="text" name="streetAddress" id="streetAddress" placeholder="Enter street address" required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                            
                            <div>
                                <label for="city" class="sr-only">City</label>
                                <input type="text" name="city" id="city" placeholder="Enter city" required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="zipCode" class="sr-only">Zip Code</label>
                                <input type="text" name="zipCode" id="zipCode" placeholder="Enter zip code" required class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                  
                            <div>
                              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Calculate Tax</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 3: Tax Rates for Cities and Counties -->
    <div id="tax-rates" class="mx-auto mt-32 max-w-7xl px-6 sm:mt-32 lg:px-8">
        <div class="mb-16">
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">2024 {jurisdiction.attributes.name} Sales Tax Rates for Cities and Counties</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Get the sales tax rates assessed at the local level. Better yet, for instant and precise calculations of sales tax in {jurisdiction.attributes.name}, use our online sales tax calculator.</p>
        </div>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="px-6 py-6">
            <h3 class="text-xl font-semibold text-gray-900">{jurisdiction.attributes.name} Cities Sales Tax Rate</h3>
            <div class="grid grid-cols-2 md:grid-cols-5 mt-6 gap-y-4">
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
            </div>
        </div>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="px-6 py-6 mt-8">
            <h3 class="text-xl font-semibold text-gray-900">{jurisdiction.attributes.name} Counties Sales Tax Rate</h3>
            <div class="grid grid-cols-2 md:grid-cols-5 mt-6 gap-y-4">
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
                <div class="col-span-1">
                    <a href="#" class="text-base font-semibold text-indigo-500">Dublin</a>
                </div>
            </div>
        </div>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    </div>

    <!-- FAQs -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-32 lg:px-8">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Frequently Asked Questions</h2>
        <div class="mt-10 lg:mt-10">
            <article class="prose max-w-full w-full my-4">
                {jurisdiction.attributes.faqs && 
                    <div class="rich-text" set:html={marked.parse(jurisdiction.attributes.faqs)}  />
                }
            </article>
        </div>
    </div>

    <ResourceCTA/>
</BaseLayout>

