<!-- <div id="how-it-works" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-5xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">HOW IT WORKS</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Put sales tax return filing on autopilot in 3 easy steps</p>
    </div>

  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
          <div class="flex flex-col">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path d="M7.5 21L3 16.5M3 16.5L7.5 12M3 16.5H16.5M16.5 3L21 7.5M21 7.5L16.5 12M21 7.5L7.5 7.5" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                <h3 class="text-base font-semibold leading-7 text-gray-400">Step 1</h3>
                Connect your billing system
              </dt>
              <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                <p class="flex-auto">We connect with your existing accounting, billing, or e-commerce platforms, like Quickbooks, Stripe, Shopify, and others, to sync your invoice or order data every month.</p>
              </dd>
          </div>
          <div class="flex flex-col">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path d="M9 6.75002V15M15 9.00002V17.25M15.5031 20.7485L20.3781 18.311C20.7592 18.1204 21 17.7309 21 17.3047V4.82031C21 3.98401 20.1199 3.44007 19.3719 3.81408L15.5031 5.74847C15.1864 5.90683 14.8136 5.90683 14.4969 5.74847L9.50312 3.25158C9.1864 3.09322 8.8136 3.09322 8.49688 3.25158L3.62188 5.68908C3.24075 5.87965 3 6.26919 3 6.69531V19.1797C3 20.016 3.8801 20.56 4.62811 20.186L8.49688 18.2516C8.8136 18.0932 9.1864 18.0932 9.50312 18.2516L14.4969 20.7485C14.8136 20.9068 15.1864 20.9068 15.5031 20.7485Z" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                <h3 class="text-base font-semibold leading-7 text-gray-400">Step 2</h3>
                Tell us where you are registered
              </dt>
              <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                <p class="flex-auto">For each state where you are registered, we set up details like tax registration numbers, filing frequency, etc., and ensure you are all set for timely filings.</p>
              </dd>
          </div>
          <div class="flex flex-col">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path d="M19.5 14.25V11.625C19.5 9.76104 17.989 8.25 16.125 8.25H14.625C14.0037 8.25 13.5 7.74632 13.5 7.125V5.625C13.5 3.76104 11.989 2.25 10.125 2.25H8.25M8.25 15H15.75M8.25 18H12M10.5 2.25H5.625C5.00368 2.25 4.5 2.75368 4.5 3.375V20.625C4.5 21.2463 5.00368 21.75 5.625 21.75H18.375C18.9963 21.75 19.5 21.2463 19.5 20.625V11.25C19.5 6.27944 15.4706 2.25 10.5 2.25Z" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                <h3 class="text-base font-semibold leading-7 text-gray-400">Step 3</h3>
                Review & approve returns
              </dt>
              <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                <p class="flex-auto">We share the draft returns for your review by the 5th of every month. Once you approve, we will file your tax returns in each state and share acknowledgment copies for future reference.</p>
              </dd>
          </div>
      </dl>
  </div>


  </div>
</div> -->


---
const stepsData = {
  steps: [
    {
      step: 1,
      heading: "Add your business information",
      imgSrc: "/images/homepage/step1.svg",
      description: "Tell us about your business addresses, employee locations, nature of products sold and any existing jurisdictions where you are registered to collect sales tax"
    },
    {
      step: 2,
      heading: "Connect your billing systems",
      imgSrc: "/images/homepage/step2.svg",
       description: "Use Galvix's out-of-the-box integrations with popular billing and account systems to automatically fetch sales data."
    },
    {
      step: 3,
      heading: "Review and approve returns",
      imgSrc: "/images/homepage/step3.svg",
       description: "Review and approve the returns prepared by Galvix and let Galvix file in each jurisdiction for you."
    }
  ]
};
---
<div class="bg-white ">
  <div class="mx-auto max-w-7xl  px-6 lg:px-8 pb-20 ">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
        Start filing your sales tax returns using Galvix in 3 simple steps.
        </h2>
      </div>
      <dl class="lg:mt-8 mt-6 grid">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
          {stepsData.steps.map((step) => (
            <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full" >
              <div class="flex flex-col grow  pb-3 max-md:mt-6">
                <div class="mt-2 text-base font-medium leading-6 text-gray-500">
                  Step {step.step}
                </div>
                <div class="mt-1.5 text-xl font-semibold leading-7 text-gray-900">
                  {step.heading}
                </div>
                <img loading="lazy" src={step.imgSrc} alt={`Step ${step.step} Image`} class="mt-5 w-full aspect-[2.78]" />
                
                    <span  class="text-base mt-4 text-md leading-6 text-gray-600 pb-2">
                      {step.description}
                    </span>
                  
                
              </div>
            </div>
          ))}
        </div>
      </dl>
    </div>
  </div>
  
</div>


<div class="mx-auto max-w-7xl  px-6 lg:px-8 ">
  <div class="sm:mx-8 mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-10 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="m-auto ">
      <div class="text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Galvix integrates with popular billing systems and apps
        </h2>
      </div>
    </div>

    <div class="flex flex-col items-center">
    
      <div class="grid lg:grid-cols-3 gap-4 grid-cols-2 ">
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/stripe.svg" alt="Stripe" class=" object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/quickbooks.svg" alt="QuickBooks" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/shopify.svg" alt="Shopify" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/big-commerce.svg" alt="BigCommerce" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/business-central.svg" alt="Business Central" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/netsuite.svg" alt="NetSuite" class="w-full object-contain" />
        </div>
      </div>
      
    </div>
  </div>
</div>

