---
const stepsData = {
  steps: [
    {
      step: 1,
      heading: "Add your business information",
      imgSrc: "/images/homepage/step1.svg",
      description: "Tell us about your business addresses, employee locations, nature of products sold and any existing jurisdictions where you are registered to collect sales tax"
    },
    {
      step: 2,
      heading: "Connect your billing systems",
      imgSrc: "/images/homepage/step2.svg",
       description: "Use Galvix's out-of-the-box integrations with popular billing and account systems to automatically fetch sales data."
    },
    {
      step: 3,
      heading: "Review and approve returns",
      imgSrc: "/images/homepage/step3.svg",
       description: "Review and approve the returns prepared by Galvix and let Galvix file in each jurisdiction for you."
    }
  ]
};
---
<div class="bg-white ">
  <div class="mx-auto max-w-7xl  px-6 lg:px-8 pb-20 ">
    <div class="mx-auto  lg:max-w-none">
      <div class="text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
        Start filing your sales tax returns using Galvix in 3 simple steps.
        </h2>
      </div>
      <dl class="lg:mt-8 mt-6 grid">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
          {stepsData.steps.map((step) => (
            <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full" >
              <div class="flex flex-col grow  pb-3 max-md:mt-6">
                <div class="mt-2 text-base font-medium leading-6 text-gray-500">
                  Step {step.step}
                </div>
                <div class="mt-1.5 text-xl font-semibold leading-7 text-gray-900">
                  {step.heading}
                </div>
                <img loading="lazy" src={step.imgSrc} alt={`Step ${step.step} Image`} class="mt-5 w-full aspect-[2.78]" />
                
                    <span  class="text-base mt-4 text-md leading-6 text-gray-600 pb-2">
                      {step.description}
                    </span>
                  
                
              </div>
            </div>
          ))}
        </div>
      </dl>
    </div>
  </div>
  
</div>


<div class="mx-auto max-w-7xl  px-6 lg:px-8 ">
  <div class="sm:mx-8 mx-auto grid  grid-cols-1 gap-x-8 gap-y-10 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="m-auto ">
      <div class="text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Galvix integrates with popular billing systems and apps
        </h2>
      </div>
    </div>

    <div class="flex flex-col items-center">
    
      <div class="grid lg:grid-cols-3 gap-4 grid-cols-2 ">
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/stripe.svg" alt="Stripe" class=" object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/quickbooks.svg" alt="QuickBooks" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/shopify.svg" alt="Shopify" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/big-commerce.svg" alt="BigCommerce" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/business-central.svg" alt="Business Central" class="w-full object-contain" />
        </div>
        <div class="flex items-center justify-center shadow-sm rounded-3xl">
          <img src="/images/app-logos/netsuite.svg" alt="NetSuite" class="w-full object-contain" />
        </div>
      </div>
      
    </div>
  </div>
</div>

