---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/managed-returns/Hero.astro";
import FAQ from "../components/managed-returns/FAQ.jsx";
import CompanyLogos from "../components/avalara-vs-galvix/companylogos.astro";
const pageTitle = "Galvix: Online Sales Tax Filing With Real Human Support";
const metaTitle = "Galvix: Online Sales Tax Filing With Real Human Support";
import { faqsHomepage } from "../data/faqs.js";
import WhyGalvixCards from "../components/homepage/WhyGalvixCards.astro";
import Steps from "../components/homepage/Steps.astro";
import FooterCard from "../components/avalara-vs-galvix/footerCard.astro";

const metaDescription =
    "Galvix lets you offload the high cost and hassle of sales tax return preparation, filing, and remittance - with a 100% done-for-you service. ";
---

<BaseLayout
    title={pageTitle}
    metaTitle={metaTitle}
    metaDescription={metaDescription}
>
<main class="isolate overflow-hidden">
    <Hero id="hero" />
    <div class="mt-14" ><CompanyLogos /></div>
    <div ><WhyGalvixCards /></div>
    <div id="steps" class="pt-24"><Steps /></div>
    
    <div  ><FAQ client:visible faqs={faqsHomepage} /></div>
    <div class="pt-24 px-6 lg:px-12" id="footer"><FooterCard /></div>
</main>

    <!-- <Hero/>
    <Steps/>
    <Solution/>
    <Features/>
    <Support/>
    
    <FAQ client:visible faqs={faqs}/>
    <CTA/> -->
</BaseLayout>
