---
import qs from 'qs';
import BaseLayout from '../layouts/BaseLayout.astro';
import CTABlockSEOPages from '../components/content-blocks/CTABlockSEOPages.astro';
import { marked } from "marked";
import SalesTaxByStateMap from '../components/sales-tax-by-state/SalesTaxByStateMap.astro';

// load page data
let url = import.meta.env.STRAPI_URL + "/api/sales-tax-by-state-page";
let query = qs.stringify({
    populate: '*'
});
const pageData = await fetch(url + "?" + query).then((response) =>
  response.json()
);

// load jurisdictions list
url = import.meta.env.STRAPI_URL + "/api/jurisdictions";
query = qs.stringify({
    sort: ['name:asc'],
    pagination: {
      "start": 0,
      "limit": 100
    }
});
const states = await fetch(url + "?" + query).then((response) =>
  response.json()
);
---
<BaseLayout title={pageData.data.attributes.seoConfig.pageTitle} metaTitle={pageData.data.attributes.seoConfig.metaTitle} metaDescription={pageData.data.attributes.seoConfig.metaDescription} norobots={pageData.data.attributes.seoConfig.noRobots}>
  
  <!-- Section 1: 2 column Hero -->
  <div class="relative pt-24 sm:pt-32">
    <!-- <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div> -->
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-1 gap-8">
        <div class="mx-auto max-w-5xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{pageData.data.attributes.heading}</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">{pageData.data.attributes.subheading}</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href={pageData.data.attributes.heroCTA.link} class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{pageData.data.attributes.heroCTA.label}</a>
          </div>
        </div>
        <div class="mt-12">
          <div class="mx-auto max-w-5xl text-center">
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sales Tax In The US By State</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Find your state's sales tax requirements below. Click on a state for a detailed guide.</p>
          </div>
          <div class="mt-12">
            <SalesTaxByStateMap states={states}/>
          </div>
        </div>
      </div>
      
    </div>
    <!-- <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div> -->
  </div>

  <!-- Section 3: Key Highlights -->
  <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-56 lg:px-8">
    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Key highlights of US sales tax by states</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Here is a brief overview of the sales tax structure in the US, highlighting the tax rate variations across different regions.</p>
    <div class="mt-10 lg:mt-10">
      <article class="prose max-w-full w-full my-4">
        <div class="rich-text" set:html={marked.parse(pageData.data.attributes.keyHighlights)}  />
      </article>
    </div>
  </div>

    <!-- Section 4: Rates Table -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-56 lg:px-8">
      <div class="text-center mb-16">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sales Tax Rates For Every State in 2024</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Check out the most recent sales tax rates and local tax range for all states in the US.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-5 mt-4 gap-16">
        <div class="col-span-3 pb-4">
          <!-- Rates Table -->
          <div class="mt-4">
            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">State</th>
                    <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">State Tax</th>
                    <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Local Tax</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total Tax Range</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  {states.data && states.data.length > 0 ? states.data.map((state) => 
                  <tr class="hover:bg-gray-50">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><a href={`/sales-tax/${state.attributes.slug}`} class=" text-indigo-600">{state.attributes.name}</a></td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">{Math.floor(state.attributes.fixedTax * 100)}%</td>
                    <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">{Math.floor(state.attributes.variableTaxMin * 100)}% - {Math.floor(state.attributes.variableTaxMax * 100)}%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{Math.floor(state.attributes.totalTaxMin * 100)}% - {Math.floor(state.attributes.totalTaxMax * 100)}%</td>
                  </tr>
                  ): "No states found"}
                </tbody>
              </table>
            </div>
            <!-- <div class="mt-10 flex items-center justify-start gap-x-6">
              <a href="/state-sales-tax-rates" class="text-sm font-semibold leading-6 text-gray-900">Show All Tax Rates <span aria-hidden="true">→</span></a>
            </div> -->
          </div>
        </div>
        <div class="col-span-2 p-4">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sales tax rate calculator</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Need help in calculating sales tax? Use our sales tax calculator to look up the sales tax rate for any state in the United States.</p>
            <div class="mt-8 flex gap-x-6">
              <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Calculate Sales Tax</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 5: FAQs -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-56 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Frequently Asked Questions</h2>
      <div class="mt-10 lg:mt-10">
        <article class="prose max-w-full w-full my-4">
          <div class="rich-text" set:html={marked.parse(pageData.data.attributes.faqs)}  />
        </article>
      </div>
    </div>

    <!-- Section 6: Galvix Benefits -->

    <!-- Section 7: CTA -->
    <CTABlockSEOPages/>
</BaseLayout>