---
import { formatDistance, format } from 'date-fns';
const {article} = Astro.props;
const { title, summary, slug, publishedAt, featuredImage, author, tags} = article.attributes;
const authorName = author.data.attributes.name;
const authorTitle = author.data.attributes.title;
const authorImage = author.data.attributes.image.data.attributes.url || null;
const articleImage = featuredImage.data.attributes.url || null;
---
<article class="flex flex-col items-start justify-between">
    <div class="relative w-full">
      <img src={articleImage ? articleImage : "https://via.placeholder.com/1080"} alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
      <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
    </div>
    <div class="max-w-xl">
      <div class="mt-8 flex items-center gap-x-4 text-xs">
        <time datetime="2020-03-16" class="text-gray-500">{format(new Date(publishedAt), 'MMM dd, yyyy')}</time>
        {
            tags.data.map((tag) => <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{tag.attributes.name}</a>)
        }
      </div>
      <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href={`/article/${slug}`}>
            <span class="absolute inset-0"></span>
            {title}
          </a>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{summary}</p>
      </div>
      <div class="relative mt-8 flex items-center gap-x-4">
        <img src={authorImage ? authorImage : "https://via.placeholder.com/1080"} alt="" class="h-10 w-10 rounded-full bg-gray-100">
        <div class="text-sm leading-6">
          <p class="font-semibold text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              {authorName}
            </a>
          </p>
          <p class="text-gray-600">{authorTitle}</p>
        </div>
      </div>
    </div>
</article>
