---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import Seo from '../components/Seo.astro';
import siteData from "../data/siteData.json";
const {title, metaTitle, metaDescription, image, frontmatter, norobots} = Astro.props;
---

<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WZ2R3X7');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={Astro.url} />
		<title>{title ? title:siteData.title}</title>
		<Seo {metaTitle} {metaDescription} {image} {frontmatter} {norobots}/>
	</head>
	<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ2R3X7"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <Header client:visible/>
    <slot/>
    <Footer/>
  </body>
</html>